﻿@using TalkRoomDemo.DtoLayer.Dtos
@model List<AppUserFriendListDto>

@foreach (var friend in Model)
{
    <div class="channel">
        <div class="user-info">
            <img src="@friend.FriendProfilePictureUrl" alt="Profil" class="profile-pic">
            <div class="user-details" data-userid="@friend.FriendId">
                <a class="username" style="font-weight: 600; text-decoration: none; color: white;" href="/AddRoom/frUser/@friend.FriendId">
                    @friend.FriendUserName
                </a>
                <span class="status @(friend.IsOnline ? "online" : "offline")"></span>
            </div>
        </div>
    </div>
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.8/signalr.min.js"></script>
