<form style="margin-bottom:12px;" id="createRoomForm2">
    <input style="    background: #2a272752;
    border: solid #505050;
    border-radius: 1.2rem;
    height: 20px;
    padding: 10px;
    color: white;
    font-size: 0.8rem;" type="text" id="roomName2" value="#111111" readonly required />
    <button type="submit">Linki Kopyala</button>
</form>
<div class="cls-h" style="justify-content: flex-end;">

    <h2>Davet kodunu girin</h2>
</div>
<form method="post" action="/FriendRequest/AcceptInvite" id="inviteForm">
    <input style="    background: #2a272752;
    border: solid #505050;
    border-radius: 1.2rem;
    height: 20px;
    padding: 10px;
    color: white;
    font-size: 0.8rem;" type="text" id="roomName3" name="inviteCode" /> 
    <button type="submit">Linki Giriniz</button>
</form>
