<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>TalkRoom</title>
</head>

<body>
    <img src="/image/Adsız tasarım (5).svg" alt="background" class="bg">
    <div class="login-page">
        <main class="main">
            <div class="authBox">
                <div class="main-form">

                    <form action="#">
                        <div class="input-groups">
                            <div class="main-form-header">
                                <h1>TalkRoom</h1>
                                <p>Hoş geldin</p>
                            </div>
                            <div class="email-wrapper">
                                <label for="emailORphone">
                                    KULLANICI ADINIZ
                                    <span class="required">*</span>
                                </label>
                                <input type="text" id="emailORphone">
                            </div>
                            <div class="password-wrapper">
                                <label for="password">
                                    ŞİFRENİZ
                                    <span class="required">*</span>
                                </label>
                                <input type="password" id="password">
                            </div>
                        </div>
                        <div class="forgot-password">
                            <a href="#">Şifremi unuttum</a>
                        </div>
                        <div class="login">
                            <button type="submit">
                                <!-- Log In -->

                                Giriş Yap
                            </button>
                        </div>
                        <div class="small-register">
                            <span>bir hesabım yok</span>
                            <a href="#">Kayıt Ol</a>
                        </div>
                    </form>
            </div>
        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcode-generator/1.4.4/qrcode.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>